body {
    background: #dfdfdf ;
}

p {
    color: rgb(34, 34,34);
}

.foto-principal{
    width: 200px;

    border: 2px solid #FFFFFF; /* shorthand */
    border-radius: 50%; /* serve para arredondar a borda */
    margin: 30px; /* shorthand */
    padding: 10px;
}
