body {
    background: #dfdfdf ;
}

p {
    color: rgb(34, 34,34);
}

.foto-principal{
    width: 200px;

    border: 2px solid #d41010; /* shorthand */
    border-radius: 50%; /* serve para arredondar a borda */
    margin: 30px; /* shorthand */
    padding: 0px;
    box-shadow: 0px 0px 10px #959593;
}
